body {
    font-family: 'Poppins', sans-serif;
    background-color: #DCE4F2;
}

.assignment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
}

.container::after, .container::before {
    content: '';
    background-color: #D9AA1E;
    position: absolute;
    border-radius: 5px;
}

.container::after {
    right: 0;
    top: 0;
    height: 100%;
    width: 15 px;
}

.container::before {
    bottom: 0;
    right: 0;
    width: 0;
    height: 5px;
}

.container .heading {
    position: absolute;
    top: 32px;
    transform: rotate(-50deg);
    left: -56px;
    background-color: #A6341B;
    padding: 4px 48px;
}

.container .heading-1 {
    transform: rotate(0);
    left: 0;
}

.heading-1 {
    animation: b .5s linear .5s forwards;
}

@media (max-width: 575px) {
    .container .question h2 {
        font-size: 20px;
    }
}

@keyframes b {
    100% {
        transform: rotate(-50deg);
        left: -56px;
    }
}

.heading h1 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.5;
}

.question {
    text-align: center;
    transform: rotate(0);
}

.question-1 {
    transform: rotate(90deg);
    animation: a .5s linear forwards;
}

@keyframes a {
    100% {
        transform: rotate(0);
    }
}

.question .line-0 {
    margin: auto;
    width: 6px;
    height: 6px;
    background-color: #A6341B;
}

.question .line-1, .question .line-2 {
    margin: auto;
    width: 1.5px;
    height: 30px;
    background-color: #A6341B;
}

.question h2, .question span {
    color: #fff;
    border-radius: 5px;
}

.question h2 {
    width: 75%;
    margin: auto;
    font-size: 24px;
    padding: 6px 12px;
    color: black;
    font-weight: 600;
}

.question span {
    font-weight: 600;
    padding: 6px 12px;
    background-color: #A6341B;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
}

.btn {
    background-color: #A6341B;
    font-weight: bold;
    margin: 0 10px;
    border: none;
    box-shadow: none;
}

.btn:focus {
    border-color: #FFFFFF;
    outline: none;
    box-shadow: none;
}

.input {
    margin: 0 10px;
}

.answer .form-control {
    width: 150px;
    border: 1px solid #010440;
    font-size: 14px;
}

.form-control:focus {
    border: none;
}

.hint {
    width: 100%;
    height: 20px;
    font-weight: 400;
    margin-top: 1px;
    font-size: 12px;
    color: #C20024;
}

.answer p {
    margin-bottom: 0px;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #010440;
    width: fit-content;
    padding: 35px 110px;
    margin: auto;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 5px;
    max-height: 500px;
    overflow: auto;
}

/* carousel */

.carousel {
    min-height: 100vh;
}

.carousel-indicators {
    margin-top: 20px;
}

.carousel-indicators [data-bs-target] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px 2px;
    padding: 14px 15px;
    width: 0;
    height: 0;
    border-radius: 5px;
    text-indent: inherit;
    border: none;
}

.carousel-indicators .active {
    background-color: #A6341B;
    color: white;
}

@media (max-width: 767px) {
    .carousel-indicators [data-bs-target] {
        flex: 0 0;
    }
}

/* Calculator */



.calContainer {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 120px auto;
    background-color: #000;
    padding-top: 150px;
}

@media (max-width: 575px) {

    .calContainer{
        width: 99%;
        margin: 0 auto;
        padding-top: 20px;
    }

    .calContainer .button {
        padding: 2px;
    }

}


.calContainer button {
    position: relative;
    height: 80px;
    width: 100%;
    font-size: 24px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: white;
    border: none;
    border-radius: 50%;
}

.calContainer .calc-btn {
    color: #7CFC00;
    font-weight: 600;
    font-size: 25px;
}

.calContainer .equal-btn button {
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    color: #fff;
    background-image: none;
    font-weight: 600;
}

.calContainer .btn-ac ,
.calContainer .equal-btn{
    width: 50%;
}
.calContainer .btn-ac button,
.calContainer .equal-btn button{
    border-radius: 80px;
}

.calContainer .remove-btn {
    color: orangered;
}

.calContainer .div-btn {
    font-size: 20px;
}


.button {
    width: 25%;
    padding: 4px;
}

.calContainer button::before {
    transition: all .2s;
}

.calContainer button:hover::before {
    opacity: 1;
}

.calContainer button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}
.calContainer .btn-ac button::before,
.calContainer .equal-btn button::before {
    border-radius: 80px;
}

#inputLabel {
    position: relative;
    width: 100%;
    height: 120px;
    font-size: 40px;
    text-align: right;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: #000000;
    color: #fff;
}
#inputLabel::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 95%;
    margin: auto;
    bottom: 30px;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.411);
}

